@media all and (min-width: 1000px) {
  .eList {
    height: calc(100% - 8px);
    width: calc(35% - 8px);
  }
}

@media all and (max-width: 999px) {
  .eList {
    height: calc(50% - 8px);
    min-height: 100px;
    width: calc(100% - 8px);
  }
}

.eList {
  padding: 3px;
  border: 1px solid black;
  background-color: #d2b4de;
  overflow: auto;
}

.selectors {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
}

.selectors > :first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.selectors > :last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.selector {
  padding: 8px;
  border: 1px solid black;
  font-size: large;
  font-weight: bold;
  text-wrap: nowrap;
}

.selector-selected {
  background-color: #7fb3d5;
}

.selector-unselected {
  background-color: #d6dbdf;
}

.line {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 2px;
  background-color: black;
}
