.configMenu {
    border: 1px solid black;
    padding: 3px;
    width: calc(100vw - 8px);
    height: calc(100vh - 8px);
    background-color: #D2B4DE;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 3px;
}

.configHeading {
    margin: 8px;
    background-color: #808B96;
    box-shadow: 3px 3px;
    border-radius : 10px;
}

.configHeadingText {
    margin: 0;
    text-align: center;
}

.configMenuSubSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.buttonBullet {
    margin: 3px;
    border: 1px solid black;
    padding: 5px;
    border-radius : 5px;
}

.selectedButtonBullet {
    background-color: #8E44AD;
    box-shadow: 3px 3px;
}

.selectedText {
    color: white;
}

.unselectedButtonBullet {
    background-color: #AAB7B8;
}

.unselectedText {
    color: black;
}

.submitButtonBullet {
    box-shadow: 3px 3px;
}

.submitButtonBulletReady {
    background-color: #52BE80;
}

.submitButtonBulletInvalid {
    background-color: #C0392B;
}