.configMenu {
    border: 1px solid black;
    padding: 3px;
    width: calc(100vw - 8px);
    height: calc(100vh - 8px);
    background-color: #D2B4DE;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 3px;
}

.configMenuSubSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.buttonBullet {
    margin: 3px;
    border: 1px solid black;
    padding: 5px;
    border-radius : 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.selectedButtonBullet {
    background-color: #2E86C1;
    /* box-shadow: 3px 3px; */
}

.selectedText {
    color: white;
}

.unselectedButtonBullet {
    background-color: #AAB7B8;
}

.unselectedText {
    color: black;
}

.submitButtonBulletReady {
    background-color: #196F3D;
    box-shadow: 3px 3px;
}

.submitButtonBulletInvalid {
    background-color: #C0392B;
}