@media all and (min-width:1000px) {
    .eMap {
        height: calc(100% - 2px);
        width: calc(65% - 2px);
    }
}

@media all and (max-width:999px) {
    .eMap {
        height: calc(100% - 2px);
        width: calc(100% - 2px);
    }
}

.eMap {
    border: 1px solid black;
    background-color: #AED6F1;
}

.leaflet-container {
    height: 100%;
}